body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
}
h1 {
    margin-bottom: 20px;
}
.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
svg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}